:root {
  /* font size */
  --fs-h1: 48px;
  --fs-h2: 36px;
  --fs-h3: 16px;
  --fs-medium: 14px;
  --fs-small: 12px;

  /* colors */
  --clr-ntrl-min: #fff;
  --clr-ntrl-max: #000;

  --clr-primary: hsl(39, 100%, 50%);  /* #FFA501 */
  --clr-primary-light: hsl(39, 100%, 60%);
  --clr-primary-dark: hsl(39, 84%, 50%);

  --section-gap: 120px;
  --circle-url: url('../img/svg/circle.svg');
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

@font-face {
  font-family: 'Poppins';
  src: local('poppins-medium'),
    url('../fonts/poppins-medium.woff2') format('woff2'),
    url('../fonts/poppins-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('poppins-bold'),
    url('../fonts/poppins-bold.woff2') format('woff2'),
    url('../fonts/poppins-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  position: relative;
  margin-bottom: var(--section-gap);
  min-width: 320px;
  width: 100%;
	font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: var(--fs-small);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* glob */

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-primary {
  padding: 12px 26px;
  min-height: 45px;
  font-size: var(--fs-medium);
  font-weight: 700;
  background-color: var(--clr-primary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: all .3s ease-in-out;
}

.btn-primary:focus {
  outline: none;
}

.btn-primary:hover {
  background-color: var(--clr-primary-light);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.btn-primary:active {
  background-color: var(--clr-primary-dark);
  box-shadow: none;
}

.title {
  font-size: var(--fs-h1);
  margin-bottom: 31px;
  line-height: 125%;
}

.section-title {
  font-size: var(--fs-h2);
}

.subtitle,
.social-media__subtitle {
  font-size: var(--fs-h3);
}

.subtitle {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 3px;
  min-height: 36px;
  background-image: url('../img/svg/circle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.subtitle_center-circle {
  padding-left: 0;
  background-position: center;
}

.main {
  flex-direction: column;
  row-gap: var(--section-gap);
}

/* Abstracts */

/* Socials */

.social-media {
  position: absolute;
  top: 564px;
  left: 53px;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  min-width: 338px;
  transform: rotate(-90deg);
  transform-origin: left top;
  min-height: 20px;
}

.dash-line {
  position: relative;
  flex-grow: 1;
}

.dash-line::after {
  content: "";
  display: block;
  height: 1px; 
  background: var(--clr-ntrl-max);
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.social__link {
  display: flex;
}

.social__link:focus,
.regular-link:focus {
  outline: 1px solid var(--clr-primary);
}

.social__link:active,
.regular-link:active {
  outline: none;
}

.social {
  gap: 15px;
}

.social__link svg {
  fill: var(--clr-ntrl-max);
  transition: fill .3s ease-in-out;
}

.social__link:hover svg {
  fill: var(--clr-primary);
}

.social__link:active svg {
  fill: var(--clr-primary-dark);
}

.sidebar__social .social__link:hover svg {
  fill: var(--clr-ntrl-min);
}


/* Infographics */

.infographic-icon {
  padding-left: 60px;
  background-repeat: no-repeat;
  background-position: 15px 15px, left top;
}

.infographic-icon_web {
  background-image: url('../img/svg/icon_web.svg'), var(--circle-url);
}

.infographic-icon_app {
  background-image: url('../img/svg/icon_app.svg'), var(--circle-url);
}

.infographic-icon_design {
  background-image: url('../img/svg/icon_design.svg'), var(--circle-url);
}

.infographic-icon_university {
  background-image: url('../img/svg/icon_university.svg'), var(--circle-url);
}

.infographic-icon_courses {
  background-image: url('../img/svg/icon_courses.svg'), var(--circle-url);
}

.infographic-icon_developer {
  background-image: url('../img/svg/icon_developer.svg'), var(--circle-url);
}

.infographic-icon_designer {
  background-image: url('../img/svg/icon_designer.svg'), var(--circle-url);
}

.infographic-icon_app,
.infographic-icon_university,
.infographic-icon_developer {
  background-position: 17px 15px, left top;
}

/* Menu and sidebar */

.burger-menu {
  position: absolute;
  top: 20px;
  right: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 500;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -345px;
  flex-direction: column;
  padding: 24px 25px 50px 40px;
  width: 345px;
  height: 100vh;
  background-color: var(--clr-primary);
  transition: left .3s ease-in-out; 
  z-index: 600;
}

.sidebar.open {
  left: 0;
}

.close-btn {
  align-self: flex-end;
  margin-bottom: 100px;
}

.nav__list {
  flex-direction: column;
  gap: 25px;
}

.nav__item {
  padding-left: 35px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: var(--clr-ntrl-min);
  background-image: url('../img/svg/circle-outline.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: left center;
}

.sidebar__social {
  justify-content: center;
  margin-top: auto;
}

.nav__link {
  position: relative;
  display: inline-flex;
}

.nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: var(--clr-ntrl-min);
  transform: scaleX(0);
  transition: transform .5s ease-in-out;
}

.nav__link:hover::after {
  transform: scaleX(1);
}

/* MAIN. Sections of page content */

/* HERO section */

.hero {
  background-image: url('../img/content/hero-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__container {
  min-height: 800px;
}

.hero__content {
  flex-direction: column;
  padding-top: 200px;
  max-width: 60%;
}

.hero__subtitle {
  margin-bottom: 6px;
}

.hero__buttons {
  align-items: center;
  gap: 44px;
  font-size: var(--fs-medium);
  font-weight: 700;
}

.regular-link {
  transition: color .3s ease-in-out;
}

.regular-link:hover {
  color: var(--clr-primary);
}

/* ABOUT section */

.profile-card {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.profile-card__image {
  align-self: flex-start;
  flex: 1;
  max-width: 35%;
  object-fit: contain;
}

.profile-card__body {
  max-width: 50%;
}

.contacts .profile-card__body {
  flex: 1;
}

.profile-card__subtitle {
  margin-bottom: 12px; 
}

.profile-card__title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.profile-card__title::after,
.title-group-centered .section-title::after {
  content: '';
  display: block;
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: var(--clr-primary);
}

.profile-card__title::after {
  left: 0;
  bottom: 0;
}

.about__descr {
  margin-bottom: 36px;
}

.about__descr, 
.infographic-text {
  line-height: 152%;
}

.caption,
.about__descr {
  font-size: var(--fs-medium);
}

.about__list {
  flex-wrap: wrap;
  gap: 20px 50px;
  justify-content: space-between;
}

.about__list-item {
  max-width: 45%;
  padding-top: 3px;
}

.about__caption {
  margin-bottom: 8px;
}

/* EXPERIENCE section */

.experience__content {
  flex-wrap: wrap;
  gap: 60px;
  padding-left: 65px;
  padding-right: 91px;
}

.title-group-centered {
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.title-group-centered .section-title {
  position: relative;
  padding-bottom: 31px;
}

.title-group-centered .section-title::after {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.title-group-centered .subtitle {
  margin-bottom: 12px;
}


.infographics-column__title {
  padding-left: 50px;
  font-size: 20px;
  background-image: url('../img/svg/circle.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.experience__content {
  justify-content: space-between;
}

.infographics-column {
  flex-basis: 43%;
}

.infographics-column__body {
  position: relative;
  margin-left: 1.8%;
}

.infographics-column__body::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 98%;
  border-left: 1px solid var(--clr-ntrl-max);
}

.infographics-card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-left: 42px;
  padding-top: 49px;

}

.infographics-card::before {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 42px;
  background-color: var(--clr-ntrl-max);
  left: 0;
  top: 67px;
}

.infographics-card__header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 40px;
}

.infographics-card .infographic-icon {
  padding-left: 57px;
}

.infographics-card__title {
  margin-bottom: 5px;
}


/* CONTACTS section */
.contacts__container {
  padding-left: 52px;
  padding-right: 35px;
}

.contacts__descr {
  flex-direction: column;
  gap: 23px;
  margin-bottom: 25px;
}

.contacts__descr .social {
  gap: 23px;
}

.contacts .profile-card__title {
  margin-bottom: 23px;
}


.form {
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.inputs-group {
  flex-wrap: wrap;
  gap: 25px;
}

.form__input-wrapper {
  flex: 1;
}

.form__fieldset {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--clr-ntrl-max);
}

legend.form__legend {
  padding: 0 10px;
}

fieldset.form__fieldset {
  margin-inline: 0;
}

.form__fieldset:focus-within {
  border-color: var(--clr-primary);
  box-shadow: 0 1px 5px var(--clr-primary);
}

.form__fieldset.error {
  border-color: red;
  box-shadow: 0 0 10px red;
}

.form__error-notification {
  color: red;
}

.form__input,
.form__textarea {
  width: 100%;
  border: none;
}

.form__input,
.form__textarea {
  padding: 2px 10px 4px;
  font-size: var(--fs-small);
}

.form__textarea {
  resize: none;
  min-height: 162px;
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
}

.form__button {
  align-self: flex-start;
  margin-top: auto;
}